:root {
  --primary-color: #6667ab;
  --black: #3f3f3f;
  --white: #fbfaf8;
  --grey: #aaaaaa;

  --title-font-size: 3.5em;
  --subtitle-font-size: 2em;
  --body-font-size: 1.5em;
  --caption-font-size: 0.8em;
}

.main {
  font-family: "Space Grotesk", sans-serif;
  max-width: 90em;
  padding: 2.5em 1.5em;
}

.title {
  font-size: var(--title-font-size);
  color: var(--black);
}

.actions {
  display: inline-flex;
  margin-left: 0.1em;
  align-items: center;
}

.action {
  margin: 0.1em;
  color: var(--grey);
  cursor: pointer;
  background-color: transparent;
  transition: background-color ease-in-out 0.2s;
}

.action:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.subtitle {
  font-size: var(--subtitle-font-size);
  color: var(--black);
}

.list {
  list-style-type: "☞";
  color: var(--black);
}

.item {
  font-size: var(--body-font-size);
  width: fit-content;
  margin: 0.5em;
  padding: 0.5em;

  transition: font-size ease-in-out 0.08s;
}

.item:hover {
  font-size: 1.7em;
}

.item-text {
  color: var(--grey);
  margin: 0 0.5em;
}

.item:hover .item-text {
  color: var(--black);
}

.item-caption {
  display: none;
  margin-left: 0.25em;
  padding: 0.25em 0.5em;
  font-size: var(--caption-font-size);
  color: var(--white);
  border-radius: 0.25em;
}

.item:hover .item-caption {
  display: inline;
  background-color: var(--primary-color);
}

.floating-link {
  padding: 0.5em;
  background-color: var(--grey);
  color: var(--white);
  border-radius: 0.5em;
  position: fixed;
  top: 92vh;
  right: 3vh;
  text-decoration: none;
  transition: all ease-in-out 0.05s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.floating-link:hover {
  padding: 0.75em;
  background-color: var(--primary-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media only screen and (max-width: 50em) {
  .main {
    font-family: "Space Grotesk", sans-serif;
    max-width: 90em;
    padding: 0.5em;
  }

  .item-caption {
    margin-left: 0;
    padding: 0.1em 0.25em;
  }
}
